@import '../App.css';

.admin {

}

.admin__list {

}

.admin__groups {
}

.admin-buttons.ban-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 5px;
}

.admin__button {
    width: 50px;
    text-align: center;
}

.admin__button.green {
    width: 100px;
}


@media (max-width: 540px) {
    .admin__button {
        width: 35px;
    }
    .admin__button.green {
        width: min-content;
    }
}