@import '../App.css';

.friends {

}

.friends__panel {
    
}

.friends__list {
    position: relative;
    min-height: calc(100vh - 200px);
}

.friends__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    position: relative;
}
.friends__item:hover {
    background-color: var(--button-pale-color)
}

.friends__account {
    display: flex;
    align-items: center;
}

.friends__nickname {
    margin-left: 20px;
    font-size: 18px;
}

.friends__buttons {
    display: flex;
    gap: 10px;
}

@media (max-width: 620px) {
    .friends__list {
        min-height: calc(100vh - 180px);
    }
}
@media (max-width: 540px) {
    .friends__nickname {
        margin-left: 10px;
    }
    .friends__buttons {
        flex-direction: column-reverse;
    }
}
@media (max-width: 400px) {
    .friends__nickname {
        font-size: 16px;
    }
}
@media (max-width: 360px) {
    .friends__nickname {
        margin: 0;
    }
    .friends__button {
        font-size: 12px;
    }
    .friends__account > .avatar__wrapper {
        display: none;
    }
}