@import '../App.css';

.scroll-up-button {
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: var(--button-color);
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    transform: translate(320px, 50px);
    box-shadow: 0 0 5px var(--base-color);
    cursor: pointer;
    transition: all .3s ease 0s;
}

.scroll-up-button:hover {
    box-shadow: 0 0 10px var(--base-color);
}

.scroll-up-button.active {
    transform: translate(320px, -15px);
}

.scroll-up-button::before, .scroll-up-button::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: var(--block-color);
    top: 50%;
    left: 50%;
}

.scroll-up-button::before {
    transform: translate(-20%, -50%) rotate(45deg);

}
.scroll-up-button::after {
    transform: translate(-80%, -50%) rotate(-45deg);
}