@import '../App.css';

.wall {
    /* padding-top: 100px; */
}

.wall-profile {
    box-shadow: none;
    overflow: visible;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.wall-profile__info {
    display: flex;
    flex-direction: column;
    flex: 100;
    gap: 10px;
    margin-top: -20px;
}
.wall-profile__buttons {
    display: flex;
    gap: 10px;
}
.wall-profile__button {
    min-width: 50px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wall-profile__nickname {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
}

.wall-profile__cells {
    display: flex;
    justify-content: space-between;
}

.wall-profile__counts {
    display: flex;
    gap: 15px;
}
.wall-profile__count {
    background-color: var(--block-color);
    border-radius: var(--block-radius);
    width: 65px;
    padding: 7px 10px;
    line-height: 85%;
    font-weight: bold;
    text-align: center;
}
.wall-profile__count > div {
    font-weight: normal;
    font-size: 14px;
}

.wall__panel {
    margin-top: 40px;
    margin-bottom: 25px;
}


.wall__list {
    /* margin-top: 150px; */
    position: relative;
}



.create-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.create-post__title {
    font-size: 24px;
    font-weight: bold;
}


@media (max-width: 540px) {
    .wall-profile__cells {
        flex-direction: column;
        gap: 10px;
    }
    .wall-profile__buttons {
        gap: 15px;
    }
    .wall-profile__button {
        height: 20px;
    }
    .wall-profile__button > img {
        width: 18px;
        height: 18px;
    }
    .wall-profile__count {
        width: 70px;
    }
    .wall-profile__nickname {
        font-size: 28px;
        letter-spacing: 0;
    }
}
@media (max-width: 540px) {
    .create-post__title {
        font-size: 20px;
    }
}
@media (max-width: 460px) {
    .wall-profile {
        flex-direction: column;
    }
    .wall-profile__info {
        margin-top: 0;
        align-items: center;
    }
}